PartsCatalogService/xsd/BaseResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vo.services.hspartcatalog.searshc.com/base/" version="1.0">

  <xs:complexType abstract="true" name="BaseResponse">
    <xs:sequence>
      <xs:element name="responseCode" type="xs:string"/>
      <xs:element minOccurs="0" name="messages">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="message" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
